#header{
	padding: 10px;
	margin: 10px;
}

#image-quote-div{
	margin: 30px;
}

#quote-div{
	margin: 30px;
}

#quote-div i{
	float: right;
	font-size: 18px;
}

#quote-div{
		background: #f9f9f9;
	border-left: 10px solid black;
	padding: 15px;
	height: 250px;
	margin: 12px
}

#quote-div:nth-child(1){
	content: open-quote;
	font-size: 30px;
}

#quote-div:nth-child(3){
	content: close-quote;
	font-size: 30px;
}

#quote-div p{
	display: inline;
	font-size: 18px;	
	color: black;
}

#img{
	width: auto;
	height: 300px;
}

blockquote p{
	display: inline;
}

#img{
	width: auto;
	height: 350px;
}

ul{
	list-style-type: none;
}

ul li{
	list-style: none;
}

#readmorerow{
	padding: 15px;
	background-color:#ccc;
	color: wine;

}


