#header{
	padding: 10px;
	margin: 10px;
}

#image-quote-div{
	margin: 30px;
}

#quote-div{
	margin: 30px;
}

blockquote{
	border-left: 0.5em 10px #f9f9f9;

}

blockquote::before{
	content: open-quote;
	font-size: 24px;
}

#quote-div i{
	float: right;
	font-size: 18px;
}

#img{
	width: auto;
	height: 300px;
}

blockquote p{
	display: inline;
}

#img{
	width: auto;
	height: 350px;
}

ul{
	list-style-type: none;
}

ul li{
	list-style: none;
}

#readmorerow{
	padding: 15px;
	background-color:#ccc;
	color: wine;
}


